<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   </configSections>
  <connectionStrings>
    <add name="Cloverprod_Connection" connectionString="Data Source=mxni3-app-08\MXNILOCALAPPS;Initial Catalog=cloverprod;Persist Security Info=True;User ID=Sa;Password=Admin.10"
      providerName="System.Data.SqlClient" />
    <add name="Cloverprod_ConnectionDebug" connectionString="Data Source=localhost;Initial Catalog=cloverprod;Persist Security Info=True;User ID=sa;Password=carlos1612"
      providerName="System.Data.SqlClient" />
    <add name="Tress_Connection" connectionString="Data Source=MXAPP6\MXTRESS;Initial Catalog=Dataproducts;Persist Security Info=True;User ID=tress20;Password=Tress20"
      providerName="System.Data.SqlClient" />
    <add name="CloverPro.Properties.Settings.Cloverprod_Connection"
      connectionString="Data Source=mxni3-app-08\MXNILOCALAPPS;Initial Catalog=cloverprod;Persist Security Info=True;User ID=Sa;Password=Admin.10"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>